{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="section-title">Informations sur la demande de permutation</h1>
            <table width="70%">
        <tbody>
            <tr>
                <th><h4>Niveau</h4></th>
                <td><h4>{{ permutation.niveau }}</h4></td>
            </tr>
            <tr>
                <th><h4>Classe originale</h4></th>
                <td><h4>{{ permutation.classeO }}</h4></td>
            </tr>
            <tr>
                <th><h4>Classe souhaitée</h4></th>
                <td><h4>{{ permutation.classeS }}</h4></td>
            </tr>
            <tr>
                <th><h4>Raison</h4></th>
                <td><h4>{{ permutation.raison }}</h4></td>
            </tr>
            <tr>
                <th><h4>Etat</h4></th>
                <td><h4>{{ permutation.etat }}</h4></td>
            </tr>
            <tr>
                <th><h4>Date</h4></th>
                <td><h4>{% if permutation.date %}{{ permutation.date|date('Y-m-d H:i:s') }}{% endif %}</h4></td>
            </tr>
        </tbody>
    </table>
            <br/>
    <ul>
        <li>
            <a href="{{ path('permutation_index') }}" class="btn">Consulter vos demandes</a>
        </li>
        <br/>
        {% if permutation.etat=='non traitee' %}
        <li>
            <a href="{{ path('permutation_edit', { 'id': permutation.id }) }}" class="btn">Modifier la demande</a>
        </li>
        {% endif %}
        <br/>
        {% if permutation.etat=='non traitee' %}
        <li>
            <a href="{{ path('supprimer_permutation', { 'id': permutation.id }) }}" class="btn">Supprimer la demande</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
